*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 280px) {
  .main {
    min-height: 100svh;
  }
  .main .app-header {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 4.5em;
  }
  .main .app-body {
    background-color: hsl(0, 0%, 100%);
    padding: 1em 1.5em;
    border-top-right-radius: 1.75em;
    border-top-left-radius: 1.75em;
    height: 100svh;
  }
  .main .app-body .bill-section {
    padding: 0.75em 0 0.1em 0;
  }
  .main .app-body .bill-section__bill {
    color: hsl(186, 14%, 43%);
  }
  .main .app-body .bill-section .price-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.75em;
  }
  .main .app-body .bill-section .price-area__dollar-symbol {
    width: 1em;
    height: 1em;
  }
  .main .app-body .bill-section .price-area__input {
    font-family: inherit;
    text-align: right;
    font-size: 1.5rem;
    color: hsl(183, 100%, 15%);
    border: none;
    width: 90%;
    padding: 0 0.5em;
    border-radius: 0.2em;
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
  }
  .main .app-body .bill-section .price-area__input:hover {
    border: 2px solid hsl(172, 67%, 45%);
  }
  .main .app-body .tip-area__heading {
    color: hsl(186, 14%, 43%);
  }
  .main .app-body .tip-area .tip-buttons-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0.75em 0;
  }
  .main .app-body .tip-area .tip-buttons-area__button, .main .app-body .tip-area .tip-buttons-area__custom {
    padding: 0.5em 1em;
    border-radius: 0.4em;
    border: none;
    width: 45%;
    margin: 0.75em 0;
    font-size: 1rem;
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    font-family: inherit;
    text-align: center;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
  }
  .main .app-body .tip-area .tip-buttons-area__button:hover {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
  }
  .main .app-body .tip-area .tip-buttons-area__custom {
    background-color: hsl(0, 0%, 100%);
    color: hsl(183, 100%, 15%);
    border: none;
    -webkit-transition: background-color 0.3s, border 0.3s;
    transition: background-color 0.3s, border 0.3s;
    cursor: text;
  }
  .main .app-body .tip-area .tip-buttons-area__custom::-webkit-input-placeholder {
    color: hsl(186, 14%, 43%);
  }
  .main .app-body .tip-area .tip-buttons-area__custom::-moz-placeholder {
    color: hsl(186, 14%, 43%);
  }
  .main .app-body .tip-area .tip-buttons-area__custom:-ms-input-placeholder {
    color: hsl(186, 14%, 43%);
  }
  .main .app-body .tip-area .tip-buttons-area__custom::-ms-input-placeholder {
    color: hsl(186, 14%, 43%);
  }
  .main .app-body .tip-area .tip-buttons-area__custom::placeholder {
    color: hsl(186, 14%, 43%);
  }
  .main .app-body .tip-area .tip-buttons-area__custom:hover {
    background-color: hsl(172, 67%, 45%);
  }
  .main .app-body .tip-area .tip-buttons-area__custom:last-child:hover {
    background-color: hsl(0, 0%, 100%);
    border: 2px solid hsl(172, 67%, 45%);
  }
  .main .app-body .people-area {
    padding: 0.1em 0;
  }
  .main .app-body .people-area .people-area-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .app-body .people-area .people-area-heading__p-error {
    color: rgb(173, 69, 69);
    text-align: right;
    display: none;
  }
  .main .app-body .people-area .amount-people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5em 0.6em;
  }
  .main .app-body .people-area .amount-people__icon {
    width: 1em;
    height: 1em;
  }
  .main .app-body .people-area .amount-people__input {
    padding: 0 0.5em;
    font-family: inherit;
    text-align: right;
    font-size: 1.5rem;
    color: hsl(183, 100%, 15%);
    border: none;
    border-radius: 0.2em;
    width: 100%;
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
  }
  .main .app-body .people-area .amount-people__input:hover {
    border: 2px solid hsl(172, 67%, 45%);
  }
  .main .app-body .people-area .amount-people .hidden {
    display: none;
  }
  .main .app-body .tip-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: hsl(183, 100%, 15%);
    border-radius: 0.8em;
    padding: 1.75em;
    margin-top: 0.8em;
  }
  .main .app-body .tip-info .tip-amount-person,
  .main .app-body .tip-info .tip-total-person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 1em;
  }
  .main .app-body .tip-info .tip-amount-person .tip-person__p-primary,
  .main .app-body .tip-info .tip-amount-person .tip-total__p-primary,
  .main .app-body .tip-info .tip-total-person .tip-person__p-primary,
  .main .app-body .tip-info .tip-total-person .tip-total__p-primary {
    color: hsl(189, 41%, 97%);
  }
  .main .app-body .tip-info .tip-amount-person .tip-person__p-secondary,
  .main .app-body .tip-info .tip-amount-person .tip-total__p-secondary,
  .main .app-body .tip-info .tip-total-person .tip-person__p-secondary,
  .main .app-body .tip-info .tip-total-person .tip-total__p-secondary {
    font-size: 0.75rem;
    color: hsl(184, 14%, 56%);
  }
  .main .app-body .tip-info .tip-amount-person__amount,
  .main .app-body .tip-info .tip-total-person__amount {
    font-size: 1.5rem;
    color: hsl(172, 67%, 45%);
  }
  .main .app-body .tip-info__cta {
    padding: 1em 2em;
    font-weight: 700;
    font-size: 1rem;
    font-family: inherit;
    border-radius: 0.4em;
    border: none;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  .main .app-body .tip-info__cta:hover {
    background-color: hsl(172, 61%, 81%);
  }
}
@media (min-width: 992px) {
  .main {
    padding: 3.5em 0;
    height: 100lvh;
    max-width: 975px;
    width: 100%;
    margin: 0 auto;
  }
  .main .app-header {
    margin-bottom: 3em;
  }
  .main .app-header__name {
    font-size: 1rem;
  }
  .main .app-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60%;
    border-radius: 1.75em;
    gap: 1em 2em;
    padding: 2em;
  }
  .main .app-body .bill-section {
    padding: 1.25em 0;
    grid-column: 0/1;
  }
  .main .app-body .tip-area {
    grid-column: 0/1;
    grid-row: 2/3;
  }
  .main .app-body .tip-area .tip-buttons-area__button, .main .app-body .tip-area .tip-buttons-area__custom {
    width: 31%;
    margin: 0.25em 0;
    padding: 0.25em 1em;
    font-size: 1.5rem;
  }
  .main .app-body .people-area {
    grid-column: 0/1;
    grid-row: 3/4;
    padding: 1em 0;
  }
  .main .app-body .people-area .amount-people__input {
    width: 90%;
  }
  .main .app-body .tip-info {
    grid-row: 1/4;
    margin: 0;
    padding: 2em;
    height: 100%;
  }
  .main .app-body .tip-info .tip-amount-person {
    padding-top: 1.75em;
  }
  .main .app-body .tip-info .tip-total-person {
    padding-bottom: 4.25em;
  }
}
body {
  font-family: "Space Mono", sans-serif;
  background-color: hsl(185, 41%, 84%);
}/*# sourceMappingURL=style.css.map */