@use "./reset" as *;
@use "./fonts" as *;
@use "./colors" as *;

@media (min-width: 280px) {
  .main {
    min-height: 100svh;
    .app-header {
      background-image: url(../img/logo.svg);
      background-repeat: no-repeat;
      background-position: center;
      padding: 4.5em;
    }
    .app-body {
      background-color: $white;
      padding: 1em 1.5em;
      border-top-right-radius: 1.75em;
      border-top-left-radius: 1.75em;
      height: 100svh;
      .bill-section {
        padding: 0.75em 0 0.1em 0;
        &__bill {
          color: $dark-grayish-cyan;
        }
        .price-area {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.75em;
          &__dollar-symbol {
            width: 1em;
            height: 1em;
          }
          &__input {
            font-family: inherit;
            text-align: right;
            font-size: $secondary-size;
            color: $very-dark-cyan;
            border: none;
            width: 90%;
            padding: 0 0.5em;
            border-radius: 0.2em;
            transition: border 0.3s;
          }
          &__input:hover {
            border: 2px solid $strong-cyan;
          }
        }
      }
      .tip-area {
        &__heading {
          color: $dark-grayish-cyan;
        }
        .tip-buttons-area {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          padding: 0.75em 0;
          &__button,
          &__custom {
            padding: 0.5em 1em;
            border-radius: 0.4em;
            border: none;
            width: 45%;
            margin: 0.75em 0;
            font-size: $primary-size;
            background-color: $very-dark-cyan;
            color: $white;
            font-family: inherit;
            text-align: center;
            transition: background-color 0.3s, color 0.3s;
            cursor: pointer;
          }
          &__button:hover {
            background-color: $strong-cyan;
            color: $very-dark-cyan;
          }
          &__custom {
            background-color: $white;
            color: $very-dark-cyan;
            border: none;
            transition: background-color 0.3s, border 0.3s;
            cursor: text;
            &::placeholder {
              color: $dark-grayish-cyan;
            }
          }
          &__custom:hover {
            background-color: $strong-cyan;
          }
          &__custom:last-child:hover {
            background-color: $white;
            border: 2px solid $strong-cyan;
          }
        }
      }
      .people-area {
        padding: 0.1em 0;
        .people-area-heading {
          display: flex;
          justify-content: space-between;
          &__p-error {
            color: rgb(173, 69, 69);
            text-align: right;
            display: none;
          }
          .show {
            display: block;
          }
        }
        .amount-people {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.5em 0.6em;
          &__icon {
            width: 1em;
            height: 1em;
          }
          &__input {
            padding: 0 0.5em;
            font-family: inherit;
            text-align: right;
            font-size: $secondary-size;
            color: $very-dark-cyan;
            border: none;
            border-radius: 0.2em;
            width: 100%;
            transition: border 0.3s;
          }
          &__input:hover {
            border: 2px solid $strong-cyan;
          }
        }
      }
      .tip-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $very-dark-cyan;
        border-radius: 0.8em;
        padding: 1.75em;
        margin-top: 0.8em;
        .tip-amount-person,
        .tip-total-person {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 1em;
          .tip-person,
          .tip-total {
            &__p-primary {
              color: $very-light-grayish-cyan;
            }
            &__p-secondary {
              font-size: 0.75rem;
              color: $grayish-cyan;
            }
          }
          &__amount {
            font-size: $secondary-size;
            color: $strong-cyan;
          }
        }
        &__cta {
          padding: 1em 2em;
          font-weight: $secondary-weight;
          font-size: $primary-size;
          font-family: inherit;
          border-radius: 0.4em;
          border: none;
          background-color: $strong-cyan;
          color: $very-dark-cyan;
          transition: background-color 0.3s;
          cursor: pointer;
        }
        &__cta:hover {
          background-color: $strong-cyan-hover;
        }
      }
    }
  }
}
